@import "../../../variables.scss";

.comment{
  margin: 20px;
  display: flex;
  &__image{
    height: 50px;
    img{
      width: 50px;
      height: 50px;
      object-fit: cover;
      display: block;
      border-radius: 50%;
      margin: 0 20px 0 10px;
    }
  }
  &__content{
    background-color: $light-grey;
    padding: 10px;
    border-radius: 10px;
    align-self: end;
    &__user-info{
      margin-bottom: .5rem;
    }
    &__date, &__comment{
      margin-bottom: 0;
    }
    &__user-name{
      font-weight: 400;
      color: $blue;
    }
    &__date{
      display: block;
      font-size: $small-font-size;
    }
  }
}