@import "../../../variables.scss";

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background-color: $dark-orange;
  &:hover{
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color:$dark-blue;
    border-radius: 4px;
    border: 2px solid $dark-blue;
    outline: none;
  }
}
