@import "../../../variables.scss";

.write-comment{
  display: flex;
  align-items: center;
  margin:20px 0;
  @include responsive-max($xs) {
    
  }
  &__form{
    flex-grow: 1;
    &__field{
      width: 100%;
      display: flex;
    }
    &__input{
      border: 1px solid $border-color;
      border-radius: 20px;
      outline: none;
      padding: 10px;
      flex-grow: 1;
      margin: 0 10px;
      @include responsive-max($xs) {
        width: 80%;
      }
    }
  }
}