@import "../../variables.scss";

.navbar{
  display: flex;
  height: 75px;
  padding: 0 20%;
  margin: 20px 0 50px;
  @include responsive-max($med) {
    justify-content: space-between;
    padding: 0;
  }
  &__ul{
    display: flex;
    align-items: center;
    list-style: none;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    @include responsive-max($med) {
      flex-grow: unset;
    }
    .navbar__link{
      color: $dark-blue;
      padding: 15px;
      @include responsive-max($med) {
        display: none;
      }
    }
  }
  &__link{
    text-decoration: none;
  }
  &__button{
    margin-right: auto;
    order: 5;

  }
  &__mobile-icon{
    display: none;
    @include responsive-max($med) {
      display: block;
    }
  }
  &__mobile-ul{
    list-style: none;
    position: absolute;
    display: block;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
    background-color: white;
    z-index: 100;
    .navbar__link{
      text-align: center;
      width: 100%;
      padding: 32px;
      transition: all 0.5s ease;
    }
  }
}