@import "../../variables.scss";

.case-container{
  
  &__comments, &__content, &__map{
    width: 100%;
    margin: 30px auto;
  }
  &__map{
    .map-container{
      height:40vh;
    }
  }
  &__comments{
    
  }
}