@import "../../variables.scss";
.div-wrapper{
  h2{
    font-weight: 600;
    margin: 30px 0;
  }
  .map-cases{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    .map, .cases{
      flex-basis: 50%;
      min-width: 380px;
      @include responsive-max($xs) {
        min-width: auto;
        flex-basis: 100%;
      }
    }
    .cases{
      height: 48vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
