@import "../../variables.scss";

.main-footr{
  border-top: 1px $dark-blue solid;
  margin-top: auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a{
    color: $dark-blue;
    text-decoration: none;
    &:hover{
      opacity: 0.5;
    }
  }
  ul {
    display: inline-block;
    list-style: none;
    li{
      display: inline-block;
    }
  }
  p {
    opacity: 0.6;
  }
  .main-footr__social-media-list{
    li{
      margin: 10px;
    }
  }

  .main-footr__nav-list{
    li{
      margin: 0 10px;
    }
  }

}