@import '../Forms/Form.scss';

.form-container{
  .filters_form{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .form__field{
      flex-basis: 30%;
      margin: 10px;
    }
  }
}