@import "~bootstrap/scss/bootstrap";
@import "custom";
@import "variables.scss";

header, footer, main {
  width: 100%;
}

.main-container{
  width: 65%;
  margin: 50px auto;
  @include responsive-max($med) {
    width: 90%;
    margin: 30px auto;
  }
}

.btn-outline-secondary, .btn-secondary{
  font-weight: 600;
  transition: all ease 0.5s;
}

.btn-outline-secondary{
  color: $dark-orange;
}

.btn-secondary:hover{
  opacity: 0.9;
}

.btn-outline-secondary, .btn-secondary, .btn-outline-secondary:hover{
  border-color: $dark-orange;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-outline-secondary:hover{
  color: white;
}

a.btn.btn-outline-secondary:focus, .btn-secondary:focus{
  box-shadow: none;
}
