@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&display=swap');

html{
  box-sizing: border-box;
}
*,::before,::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
  color: #20333e;
  font-family: 'Cairo', sans-serif;
  font-size: 1rem;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a, a:hover{
  text-decoration: none;
  color: #2196f3;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}