$light-green: #f5fdff;
$meduim-green: #009e75;
$dark-green: #345034;
$orange:#d55343;

$dark-orange:#d57a5b;
$dark-blue:#20333e;
$light-blue:#D4F1F4;
$input-color: #80868B;
$border-color: #DADCE0;

$normal-font-size: 1rem;
$small-font-size: .75rem;

$med: 1025px;   // ipad-pro
$xmed: 770px;   // ipad
$xs: 500px;     // mobile

@mixin responsive-min($size) {
  @media only screen and (max-width: $size){
    @content;
  }
}

@mixin responsive-max($size) {
  @media only screen and (max-width: + $size) {
    @content;
  }
}