@import "../../variables.scss";

.login__error {
  text-align: center;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 30px 0 50px;
  color: $input-color;
  .form{
    width: 400px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);

    @include responsive-max($xs) {
      width: 300px;
    }
    &__p{
      color: $dark-orange;
    }
    &__field, &__textarea-field{
      position: relative;
      height: 48px;
      margin-bottom: 1.5rem;
    }
    &__textarea-field{
      height: 150px;
    }
    &__input{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      font-size: $normal-font-size;
      border: 1px solid $border-color;
      border-radius: .5rem;
      outline: none;
      padding: 1rem;
      background: none;
      z-index: 1;
  }
  &__label{
      position: absolute;
      right: 1rem;
      top: 1rem;
      padding: 0 .25rem;
      background-color: #fff;
      font-size: $normal-font-size;
      transition: .3s;
  }
  &__button{
      display: block;
      margin: 0 auto;
      padding: .75rem 2rem;
      outline: none;
      border: none;
      background-color: $dark-blue;
      color: #fff;
      font-size: $normal-font-size;
      font-weight: 600;
      border-radius: .5rem;
      cursor: pointer;
      transition: .3s;

      &:hover{
          box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
      }
    }

    &__select, &__date{
      padding: 0 1rem;
    }
    
    &__input, &__labe{
      color: $input-color;
    }
  }
  .form__input:focus + .form__label {
    top: -.5rem;
    right: .8rem;
    color: $dark-blue;
    font-size: $small-font-size;
    font-weight: 500;
    z-index: 10;
  }

  /*Input focus sticky top label*/
  .form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
      top: -.5rem;
      right: .8rem;
      z-index: 10;
      font-size: $small-font-size;
      font-weight: 500;
  }

  /*Input focus*/
  .form__input:focus {
      border: 1.5px solid $dark-blue;
  }
}